@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    --section-heading-mb: theme('space.10');
    --section-heading-pb: 0;
    --section-gap: theme('space.16');

    @apply py-[--section-gap];

    /* consecutive sections without background color */
    &:not([class*='bg-']) {

      & + &{
        @apply -mt-[--section-gap];
      }
    }

    /* consecutive sections with background color */
    &[class*='bg-'] {

      & + &{
        @apply -mt-[--section-gap];
      }
    }

    /* spacing between specific components is always equal to the section header bottom gap */
    &[data-component='specific-component'] + &[data-component='specific-component'] {
      @apply -mt-[calc((var(--section-gap)*2-var(--section-heading-mb)))];
    }

    .section-heading {
      @apply mb-[--section-heading-mb] pb-[--section-heading-pb];
    }

    @screen md {
      --section-gap: theme('space.24');
    }

    @screen lg {
      --section-heading-mb: theme('space.14');
    }
  }
}
